html{
    scroll-behavior: smooth;
}


body {
margin: 0;
padding: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



header {
    background-color: goldenrod;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;

}
nav{
    background-color: red;
    color: white;
    text-align: center;
    width: 100%;
    padding: 20px;
}
section {
    padding: 20px;
    text-align: center;
}

.info1 {
    height: 300px;
    background-color: rgb(16, 17, 22);
    width: 600px;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}

.t2010 {
    height: 300px;
    width: 600px;

}
.blocos {
display: flex;

}

.info2 {
    height: 300px;
    background-color: rgb(255, 255, 255);
    width: 600px;
    margin-left: 5px;
    margin-right: 5px;

}

.t2012 {
    height: 300px;
    width: 600px;


}


.blocoB {
    display: flex;

}

.info3 {
    height: 300px;
    background-color: rgb(255, 255, 255);
    width: 600px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}
.t2016 {
    height: 300px;
    width: 600px;

}

.info4 {
    height: 300px;
    background-color: rgb(255, 255, 255);
    width: 600px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}
.t2020 {
    height: 300px;
    width: 600px;

}
.blocoB {
    display: flex;
    justify-content: space-between;
}    

main {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

}

footer {
    background-color:  goldenrod ;
    color: white;
    text-align: center;
    padding: 20px;

}

@media (max-width: 1200px) {
    .blocos {
        flex-wrap: wrap;
        justify-content: center;
    
    }
    
    }
    @media (max-width: 1200px) {
        .blocoB {
            flex-wrap: wrap;
            justify-content: center;
        
        }
    }
    